.navbar {
  position: relative!important;
  background-color: white !important;
  margin-bottom: 0 !important;
  margin-top: 0 !important;
  a{
    color: $midGrey !important;
    &:hover,&:focus,&.active{
      color: black !important;
    }
  }
  &-brand {
    img {
      max-width:145px;
    }
  }
  &.navbar-transparent > .container{
    padding-top: 10px!important;
  }
}
.page-header{
  margin: 0;
}
.scroll-nav {
  width: 100%;
  background-color: black;

  display: flex;
  justify-content: center;
  align-items: center;

  &__list {
    list-style: none;
    margin-bottom: 0;
    padding: 20px 10px;
  }
  &__wrapper{
    display: none;
  }

  &__heading{
    display: none;
  }

  &__item {
    font-size: 12px;
    text-align: center;

    &.active {
      border-bottom: 3px solid $mainRed;

      a {
        color: white;

        &:focus,&:hover {
          color:white;
        }
      }
    }
  }
  &__link {
    color: $faintGrey;
    font-size: 12px;
    font-weight:600;
    text-decoration: none;

    &:hover,&:focus {
      color: $white;
      text-decoration: none;
    }
  }

  &.fixed {
    position: fixed;
    z-index: 100;
    top:0;
    background-color: $darkGrey;
  }
}

#scroll-nav{

  &__mobicon{
    display: none;
    &:checked ~ #scroll-nav__mobicon-label {
          &:after{
            content:'\f00d';
          }
    }
    &:checked ~ .scroll-nav__wrapper{
      display: block;
    }
    &-label{
      display: block;
      background: $darkGrey;
      width: 40px;
      height: 40px;
      cursor: pointer;
      position: absolute;
      right: 20px;
      top: 30px;
      &:after{
        font-family: FontAwesome;
        content:'\f0c9';
        display: block;
        font-size: 20px;
        margin-left: 12px;
        margin-top: 8px;
        color: $lightGrey;
      }
    }
  }
}


@media screen and (min-width:768px){
  #scroll-nav{
    &__mobicon{
      &-label{
        display: none;
        &:after{
          display: none;
        }
      }
    }
  }

  .scroll-nav {
    justify-content: flex-end;
    align-items: center;
    height:75px;

    &__list {
      margin-bottom: -2px;
      padding: 0;
    }
    &__wrapper{
        display: block;
    }

    &__heading{
      display: block;
      position: absolute;
      left: 25px;
      color: $faintGrey;
      font-size: 18px;
      font-weight:600;
      text-align: center;
      text-decoration: none;
      cursor: pointer;

    }

    &__item {
      padding: 25px;
      text-align: center;
      display: inline;
      padding-left: 10px;
      padding-right: 10px;

      &.active {
        border-bottom: 3px solid $mainRed;
      }
    }

    &__link {
      font-size: 18px;
    }

    &.fixed {
      background-color: rgba(0,0,0,0.7);
    }
  }
}
