
.scroll-nav {
  width: 100%;
  background-color: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  align-items: center;

  &__list {
    list-style: none;
    margin-bottom: 0;
  }

  &__item {
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px;

    &.active {
      border-bottom: 3px solid $mainRed;

      a {
        color: white;

        &:focus,&:hover {
          color:white;
        }
      }
    }
  }
  &__link {
    color: $faintGrey;
    font-size: 12px;
    font-weight:600;
    text-align: center;
    text-decoration: none;

    &:hover,&:focus {
      color: $white;
      text-decoration: none;
    }
  }

  &.fixed {
    position: fixed;
    z-index: 100;
  }
}
.post {

  &__article {

    margin-top: 70px;
  }
}


@media screen and (min-width:768px){
  .mobile-menu {
    display: none;
  }

  .scroll-nav {
    justify-content: flex-end;
    align-items: center;
    height:75px;

    &__list {
      margin-bottom: -2px
    }

    &__item {
      padding: 25px;
      text-align: center;

      &.active {
        border-bottom: 3px solid $mainRed;
      }
    }

    &__link {
      font-size: 18px;
    }

    &.fixed {

    }
  }
}
